.popup-window h1 {
  font-size: 34px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  margin: 0px 0px 25px 0px;
}
.popup-window .login {
  margin: 0 auto;
  background: #F8F8F8;
  border-radius: 4px;
}
.popup-window .login-top{
  background: #E9E9E9;
  border-radius: 4px 4px 0px 0px;
  padding: 11px 0px;
  text-align: center;
}
.popup-window .login-top h2 {
	font-size: 30px;
	font-weight: 700;
	color: #7A7A7A;
	background: inherit;
	padding:inherit;
	text-align: inherit;
	font-weight: inherit;
	border-bottom: inherit;
	border-radius: inherit;
}
.popup-window .login-top h3 {
  font-size: 15px;
  font-weight: 600;
  color: #7A7A7A;
}
.popup-window span.log {
  font-size: 16px;
  font-weight: 600;
  display: block;
}
.popup-window .login-bottom {
  padding: 23px 23px 23px 23px;
}
.popup-window .login-bottom h3 {
  font-size: 15px;
  font-weight: 600;
  color: #737373;
  margin: 10px 0px 10px 0px;
}
.popup-window .login-bottom ul  {
	border-bottom:3px solid #EFEDED;
	  padding: 0 0 1.5em;
}
.popup-window .login-bottom ul li {
  display: inline-block;
  width:49%;
  margin-right:2%;
  float: left;
}
.popup-window .login-bottom ul li:nth-child(2) {
  margin-right:0%;
}
.popup-window .login-bottom ul li a {
  font-size: 17.5px;
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
}
.popup-window .login-bottom ul li a.tw {
  background: url(../images/twitter.png)no-repeat 10px 8px #44ccf6;
  display: inline-block;
  padding: 10px 14px 10px 56px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.popup-window .login-bottom ul li a.fa {
  background: url(../images/face.png)no-repeat 10px 8px #4C71AB;
  display: inline-block;
  padding: 10px 14px 10px 59px;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}

.popup-window .login-bottom ul li a.tw:hover {
  background: url(../images/twitter.png)no-repeat 10px 8px #4AB2D2;
  
  transition:  0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition:  0.5s all;
	-webkit-transition: 0.5s all;
}
.popup-window .login-bottom ul li a.fa:hover {
  background: url(../images/face.png)no-repeat 10px 8px #1D375F;
  transition:  0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-moz-transition:  0.5s all;
	-webkit-transition: 0.5s all;
}

.popup-window .user,.user-in{
 border: 1px solid #EDEDED;
  border-top: 2px solid #EDEDED;
  background:#fff;
   border-radius: 5px;
    margin-bottom: 1em;
}
.popup-window .user input[type="text"],.user-in input[type="password"], .user-in input[type="email"] {
  background: none;
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #BBBBBB;
  padding: 17px 15px 17px 15px;
  border: none;
  width: 85%;
 
  -webkit-appearance: none;
}
.popup-window .user i {
  background: url(../images/user.png)no-repeat 0px 0px ;
  width: 27px;
  height: 27px;
  display:inline-block;
    vertical-align: middle;
}
.popup-window .user-in i {
  background: url(../images/key.png)no-repeat 0px 7px ;
  width: 27px;
  height: 27px;
  display:inline-block;
    vertical-align: middle;
}
.popup-window label.checkbox {
  float: left;
}
.popup-window .keep-loginbutton {
  float: right;
}
.popup-window .keepme input[type="checkbox"] {
  display: none;
}
.popup-window .keepme.checkbox input {
	position: absolute;
	left: -9999px;
}
.popup-window .keepme.checkbox i {
	border-color: #fff;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	
}
.popup-window .keepme.checkbox i:hover {
	border-color:red;
	
}
.popup-window .keepme i:before {
	background-color: #2da5da;	
}
.popup-window .keepme  .rating label {
	color: #ccc;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
.popup-window .keepme .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.popup-window .keepme .checkbox input + i:after {
	content: url(../images/tick.png) no-repeat 7px 1px;
	top: 1px;
	left: 1px;
	width: 15px;
	height: 15px;
}
.popup-window .keepme .checkbox {
	padding: 15px 0px 0px 22px;
	font-size: 15px;
   font-weight: 600;
	line-height: 5px;
	color:#737373;
	cursor: pointer;
	position: relative;
	display: block;
	float: left;
}
.popup-window .keepme .checkbox:hover {
	text-decoration: none;
}
.popup-window .keepme  .checkbox i {
  position: absolute;
  top: 9px;
  left: 0px;
  display: block;
  width: 15px;
  height: 15px;
  outline: none;
  border: 1px solid #B3B2B2;
  border-radius: 4px;
  background: #fff;
}
.popup-window .keepme  .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.popup-window .keepme .checkbox input + i:after {
	color: #2da5da;
}
.popup-window .keepme.checkbox input:checked + i,
.popup-window .keepme . input:checked + i {
	border-color: #2da5da;	
}
.popup-window .keepme .rating input:checked ~ label {
	color: #2da5da;	
}

.popup-window .keepme .checkbox input:checked + i:after {
	opacity: 1;
}
.popup-window .keep-loginbutton input[type="submit"] {
  color: #FFF;
  font-size: 17px;
  font-weight: 600;
  width: 93%;
  padding: 8px 26px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0px 0px 0px 0px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
 background: #e21b1b; 
}
.popup-window .keep-loginbutton input[type="submit"]:hover {
 background: #6b6b6b;
 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.popup-window .keepme {
  padding: 6px 0px;
  width: 100%;
}
.popup-window .forgot {
  padding: 15px 0px;
}
.popup-window .forgot p {
  float: left;
}
.popup-window .forgot p a{
  font-size: 14px;
  font-weight: 600;
  color: #000;
}
.popup-window .forgot p a:hover{
	color:#878787;
	transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.popup-window .forgot-register {
  float: right;
}
.popup-window .forgot-register p {
  font-size: 14px;
  font-weight: 600;
  color: #878787;
}
.popup-window .forgot-register p a {
  color: #000;
}
.popup-window .forgot-register p a:hover {
  color: #e33838;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
.popup-window span.login-line {
  background: #EFEDED;
  width: 460px;
  height: 2px;
  display: block;
  margin: 20px auto;
}
.popup-window .copyright {
  padding: 110px 0px 0px 0px;
  text-align: center;
}
.popup-window .copyright p {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
}
.popup-window .copyright p a{
  font-size: 15px;
  font-weight: 400;
  color:  #E21B1B;
}
.popup-window .copyright p a:hover{
	color: #fff;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--login form end here--*/
/*--meadia quiries start here--*/
@media(max-width:1440px){

.popup-window .keep-loginbutton input[type="submit"] {
  width: 91%;
}
}
@media(max-width:1366px){

.popup-window .login-bottom ul li a.fa {
  padding: 10px 14px 10px 58px;
  }
.popup-window   .login-bottom ul li a.tw {
  padding: 10px 14px 10px 55px;
}
@media(max-width:1280px){

.popup-window .login-bottom ul li a {
  font-size: 17px;
}

.popup-window h1 {
  font-size: 30px;
}

.popup-window .copyright {
  padding: 55px 0px 0px 0px;
}

.popup-window .keep-loginbutton input[type="submit"] {
  width: 96%;
}
.popup-window .login-bottom ul li a.tw {
  padding: 10px 14px 10px 50px;
}
.popup-window .login-bottom ul li a.fa {
  padding: 10px 14px 10px 51px;
  }
  }
@media(max-width:1024px){

.popup-window h1 {
  font-size: 30px;
}
.popup-window .login-top h2 {
  font-size: 24px;
}
}
@media(max-width:736px){
.popup-window span.login-line {
  width: 410px;	
}
.popup-window .login-bottom ul li a {
  font-size: 15px;
}


.popup-window .forgot p a {
  font-size: 13px;
}
.popup-window .forgot-register p {
  font-size: 13px;
}
}
@media(max-width:667px){
.popup-window span.login-line {
  width: 390px;
}


.popup-window .forgot-register p {
  font-size: 12px;
}
.popup-window .forgot p a {
  font-size: 12px;
}
.popup-window .login-bottom ul li a {
  font-size: 14px;
}
}
@media (max-width: 667px){
.popup-window .login-bottom ul li a.tw {
  padding: 10px 14px 10px 46px;
}
.popup-window .login-bottom ul li a.fa {
  padding: 10px 14px 10px 47px;
}
.popup-window .user input[type="text"], .user-in input[type="password"] {
  width: 82%;
}
}
@media(max-width:640px){
.popup-window .login h2 {
  font-size: 26px;	
}


.popup-window .copyright {
  padding: 115px 0px 0px 0px;
}
.popup-window .login-bottom ul li {
  width: 47.5%;
  margin-right: 5%;
}
.popup-window .login-bottom ul li a.tw {
  padding: 10px 27px 10px 57px;
}
.popup-window .login-bottom ul li:nth-child(2) {
  margin-right: 0%;
}
.popup-window .login-bottom ul li a.fa {
  padding: 10px 28px 10px 51px;
}
}

@media(max-width:600px){

.popup-window .login-bottom ul li a.tw {
  padding: 10px 25px 10px 43px;
}

.popup-window .login-bottom ul li a.fa {
  padding: 10px 14px 10px 53px;
}

}

@media(max-width:568px){
.popup-window .login-bottom ul li a.fa {
  padding: 10px 14px 10px 38px;
}
.popup-window .login-bottom ul li a.tw {
  padding: 10px 18px 10px 39px;
}

}

@media(max-width:480px){
.popup-window .login-bottom ul li {
  width: 49%;
  margin-right: 2%;
}
.popup-window span.login-line {
  width: 350px;
}

.popup-window .forgot p a{
  font-size: 11px;
}
.popup-window .forgot-register p {
  font-size: 11px;
  padding: 6px 0px 0px 0px;
}
..popup-window keep-para .checkbox {
  font-size: 12px;
}
.popup-window .login-bottom ul li a {
  font-size: 13px;
}
.popup-window .login-bottom ul li a.fa {
  margin: 0px 0px 0px 0px;
}

.popup-window .login-bottom ul li a.tw {
  background: url(../images/twitter.png)no-repeat 10px 4px #44ccf6;
  padding: 10px 14px 10px 37px;
}
.popup-window .login-bottom ul li a.fa {
  background: url(../images/face.png)no-repeat 11px 5px #4C71AB;
  padding: 10px 14px 10px 36px;
}
.popup-window .login-bottom ul li a.tw:hover {
  background: url(../images/twitter.png)no-repeat 10px 4px #4AB2D2;

}
.popup-window .login-bottom ul li a.fa:hover {
  background: url(../images/face.png)no-repeat 11px 5px #1D375F;

}
.popup-window h1 {
  font-size: 27px;
}
.popup-window .keep-loginbutton input[type="submit"] {
  width: 99%;
}
.popup-window .user input[type="text"], .user-in input[type="password"] {
  width: 81%;
}
}

@media(max-width:414px){

.popup-window .user input[type="text"], .user-in input[type="password"] {
  width: 75%;
}
.popup-window .login-bottom ul li a.tw {
  background: url(../images/twitter.png)no-repeat 36px 8px #44ccf6;
  padding: 10px 70px 10px 104px;
  margin: 0em 0em 0.5em 0em;
}
.popup-window .login-bottom ul li a.tw:hover {
  background: url(../images/twitter.png)no-repeat 36px 8px #4C71AB;
  
}
.popup-window .login-bottom ul li a.fa {
  background: url(../images/face.png)no-repeat 36px 5px #4C71AB;
  padding: 10px 70px 10px 104px;
}
.popup-window .login-bottom ul li a.fa:hover {
  background: url(../images/face.png)no-repeat 36px 5px  #44ccf6;
 
}
.popup-window .forgot p {
  float: none;
  text-align: center;
}
.popup-window .forgot-register {
  float: none;
}
.popup-window .login-bottom ul li {
  width: 100%;
  float: none;
}
}
@media(max-width:384px){
.popup-window .login-bottom ul li a.tw {
  padding: 10px 55px 10px 90px;	
}
.popup-window .login-bottom ul li a.tw:hover {
  padding: 10px 55px 10px 90px;
}
.popup-window .login-bottom ul li a.fa {
  padding: 10px 55px 10px 90px;
}
.popup-window .login-bottom ul li a.fa:hover {
  padding: 10px 55px 10px 90px;
}

.popup-window span.login-line {
  width: 268px;
}
}
@media(max-width:375px){
.popup-window .login-bottom ul li a.tw {
  padding: 10px 55px 10px 85px;
}
.popup-window .login-bottom ul li a.tw:hover {
  padding: 10px 55px 10px 85px;
}	
.popup-window .login-bottom ul li a.fa {
  padding: 10px 55px 10px 86px;
}
.popup-window .login-bottom ul li a.fa:hover {
  padding: 10px 55px 10px 86px;
}
}

@media(max-width:320px){
.popup-window span.login-line {
  width: 240px;
}
.popup-window .login h2 {
  font-size: 18px;
}
s.popup-window pan.log {
  font-size: 14px;
}
.popup-window span.login-line {
  margin: 10px auto;
}

.popup-window .popup-window .keep-para .checkbox {
  font-size: 10px;
}
.popup-window .keep-loginbutton input[type="submit"] {
  font-size: 12px;
  width: 100%;
  padding: 6px 15px;
}
.popup-window .forgot-register p {
 font-size: 12px;
 padding: 5px 0px 0px 0px;
}
.popup-window .forgot p {
  float: none;
  text-align: center;
}
.popup-window .forgot-register {
  float: none;
}
.popup-window .forgot p a{
  font-size: 11px;
}
.popup-window .login-bottom h3 {
  font-size: 11px;
  margin: 0px 0px 8px 0px;
}

.popup-window .login-bottom ul li a.tw {
  background: url(../images/twitter.png)no-repeat 20px 5px #44ccf6;
  padding: 10px 50px 10px 73px;
  margin: 0px 0px 8px 0px;
}
.popup-window .login-bottom ul li a.tw:hover {
  background: url(../images/twitter.png)no-repeat 20px 5px #4C71AB;
  padding: 10px 50px 10px 73px;
}
.popup-window .login-bottom ul li a.fa {
  background: url(../images/face.png)no-repeat 15px 5px #4C71AB;
  padding: 10px 50px 10px 73px;
}
.popup-window .login-bottom ul li a.fa:hover {
  background: url(../images/face.png)no-repeat 15px 5px #44ccf6;
  padding: 10px 50px 10px 73px;
}
.popup-window .forgot {
  padding: 5px 0px;
}
.popup-window .keepme .checkbox {
  padding: 10px 0px 0px 25px;
  font-size: 12px;
}
.popup-window .keepme .checkbox i {
  top: 3px;
}
.popup-window .copyright p {
  font-size: 13px;
}
.popup-window .copyright p a{
  font-size: 13px;
}
.popup-window h1 {
  font-size: 22px;
  margin: 0px 0px 16px 0px;
}
.popup-window .login-top {
  padding: 6px 0px;
}
.popup-window .login-bottom ul li {
  width: 100%;
  float: none;
}
.popup-window .user input[type="text"], .user-in input[type="password"] {
  width: 72%;
    padding: 12px 15px 12px 15px;
}
}
/*--meadia quiries end here--*/